[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
    url = git@github.com:tmux-plugins/tpm.git

[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "/home/paulo/.emacs.d"]
	path = /home/paulo/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
